body {
  font-family: Arial, sans-serif;
  margin: 40;
  padding: 40;
}

.flex-container {
  display: flex;
}

#tagList {
  flex: 2;
  background-color: #f0eeee;
  max-width: 200px;
  min-width: 150px;
  height: 100vh;
  border-radius: 10px;
}

#taskList {
  flex: 8;
  padding-left: 10px;
}

.tag-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.tag-button.active {
  background-color: #d42e11;
}

.tag-button + .tag-button {
  margin-left: 5px;
}

input[type="text"],
button {
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

#tagInput {
  margin-top: 20px;
  margin-left: 10px;
  width: 100px;
}

#taskInput {
  margin-top: 20px;
}

#tasks li {
  font-size: 16px;
}

.tag-button:hover {
  cursor: pointer;
}

#tagList button:hover,
#taskList button:hover {
  cursor: pointer;
}

.delete-button {
  margin-left: 10px;
  font-size: 14px;
  padding: 3px 6px;
}

#searchModeToggle {
  background-color: #08af90; /* ボタンの背景色を変更 */
  color: white; /* ボタンのテキスト色を変更 */
  padding: 8px 20px; /* ボタン内の余白を設定（上下 左右） */
  margin-left: 20px;
  border: none;
  cursor: pointer;
}